# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env*.local
.env

# Builds
android/
ios/
build/

# IDE
.idea/
.vscode/

# Tailwind / nativewind
.tailwind-cache/
